@font-face {
  font-family: 'QuickSand';
  src: url('../assets/fonts/quicksand/Quicksand-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'AlexBrush';
  src: url('../assets/fonts/alex-brush/AlexBrush-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noble';
  src: url('../assets/fonts/nobile/Nobile-Regular.ttf') format('truetype');
}
