$quicksand: 'QuickSand', Helvetica Neue, Helvetica, Arial, sans-serif;
$alex-brush: 'AlexBrush', Helvetica Neue, Helvetica, Arial, sans-serif;
$noble: 'Noble', Helvetica Neue, Helvetica, Arial, sans-serif;

// Colors
$red: #fd0233;
$cyan: #4dafb2;
$blue: #2b00ff;
$white: #ffffff;

$x16: 1rem;
$x24: 1.5rem;
$x32: 2rem;
$x48: 3rem;
$x64: 4rem;
$x512: 32rem;
