$quicksand: 'QuickSand', Helvetica Neue, Helvetica, Arial, sans-serif;
$alex-brush: 'AlexBrush', Helvetica Neue, Helvetica, Arial, sans-serif;
$nobile: 'Nobile', Helvetica Neue, Helvetica, Arial, sans-serif;

// Colors
$red: #fd0233;
$cyan: #4dafb2;
$blue: #2b00ff;
$white: #ffffff;
$light-grey: #7d827e;
$dark-grey: #3d383c;

$x8: 0.5rem;
$x12: 0.75rem;
$x16: 1rem;
$x24: 1.5rem;
$x32: 2rem;
$x48: 3rem;
$x64: 4rem;
$x240: 15rem;
$x320: 20rem;
$x512: 32rem;
